*.so
*.[oa]
*.out
*.byte
*.native

*~
*.swp

*.pyc

*.cmo
*.cma
*.cmi
*.cmx
*.cmxa

*.depend

/build
/var
/.idea/
/lib/v2.0/python/src/pprzlink.egg-info/

# Eclipse IDE settings files
.cproject
.project
.pydevproject
.settings/*
